[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
requests = "*"
scenedetect = "*"
opencv-python = "*"
timecode = "*"

[dev-packages]

[requires]
python_version = "3.7"
